<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
</head>
<body>
    {% if not id %}
        <h1>States</h1>
        <ul>
        {% for v in states.values() | sort(attribute="name") %}
            <li>State: {{ v.id }}: <B>{{ v.name }}</B></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if id %}
        {% if id == inst.id %}
            <h1>State: {{ inst.name }}</h1>
            <h3>Cities</h3>
                    <ul>
                        {% for city in inst.cities | sort(attribute="name") %}
                            <li>City: {{ city.id }}: <B>{{ city.name }}</B></li>
                        {% endfor %}
                    </ul>
        {% endif %}
        {% if inst == 0 %}
        <h1>Not found!</h1>
        {% endif %}
    {% endif %}
</body>
</html>
